* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #104270;
}

.container {
  width: 100%;
  max-width: 480px;
  background-color: #104270;
}

.container #heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#heading h2,
h3 {
  font-weight: 600;
  font-size: 35px;
  padding: 5px 30px;
}

#heading h2 {
  color: #fff;
}

#heading h3 {
  font-family: "Times New Roman", Times, serif;
  color: #2f9a6f;
}

#heading div {
  height: 5px;
  margin: 0 0 0 30px;
  width: 60%;
  background-color: #2f9a6f;
  border-radius: 25px;
}

.wrapper {
  margin: 20px 30px;
}

.input-box {
  position: relative;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box input {
  width: 100%;
  height: 50px;
  color: #000;
  background: #fff;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 0 50px 0 30px;
  outline: none;
  transition: all 0.3s ease;
  letter-spacing: 1.4px;
}

.input-box #copyPass {
  cursor: pointer;
  height: 27px;
  margin-right: 15px;
}

.input-box span:hover {
  color: #4285f4 !important;
}

.pass-indicator {
  width: 100%;
  height: 4px;
  position: relative;
  background-color: #fff;
  margin-top: 12px;
  border-radius: 25px;
}

.pass-indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 0;
  border-radius: inherit;
  transition: width 0.3s ease;
}

.pass-indicator#weak::before {
  width: 20%;
  background-color: #e64a4a;
}

.pass-indicator#medium::before {
  width: 50%;
  background-color: #f1c80b;
}

.pass-indicator#strong::before {
  width: 100%;
  background-color: #27c468;
}

.pass-length {
  margin: 15px 0 20px;
}

.pass-length .details {
  display: flex;
  justify-content: space-between;
}

.pass-length input {
  width: 100%;
  height: 5px;
}

.pass-length .title {
  font-family: "Times New Roman", Times, serif;
  color: #2f9a6f;
  font-weight: 600;
  font-size: 25px;
}

.pass-settings .title {
  font-family: "Times New Roman", Times, serif;
  color: #2f9a6f;
  font-weight: 600;
  font-size: 25px;
}

.pass-settings .options {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 20px;
  color: #fff;
}

.pass-settings .options .option {
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 50%;
}

.options .option:first-child {
  pointer-events: none;
}

.options .option input {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.options .option label {
  cursor: pointer;
  color: #fff;
  padding-left: 10px;
  font-family: "Times New Roman", Times, serif;
}

.generate-btn {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #2f9a6f;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 15px 0 20px;
}

.generate-btn:hover {
  background: #237d59;
}

.generate-btn:active {
  transform: scale(0.95);
}

@media screen and (max-width: 600px) {
  /* Adjust styles for screens with a width of 600 pixels or less */
  .container {
    max-width: 100%; /* Allow the container to take the full width */
  }
}
